html,
body {
  padding: 0;
  margin: 0;
  font-family: JetBrains Mono, monospace;
  min-width: 100%;
  min-height: 100%;
  will-change: contents;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
